<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.dao.ChongZhiMapper">
  <resultMap id="BaseResultMap" type="com.zking.pojo.ChongZhi">
    <id column="cz_id" jdbcType="INTEGER" property="czId" />
    <result column="userbank_id" jdbcType="INTEGER" property="userbankId" />
    <result column="cz_money" jdbcType="DECIMAL" property="czMoney" />
    <result column="cz_state" jdbcType="INTEGER" property="czState" />
  </resultMap>
  <sql id="Base_Column_List">
    cz_id, userbank_id, cz_money, cz_state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_chongzhi
    where cz_id = #{czId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_chongzhi
    where cz_id = #{czId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.pojo.ChongZhi">
    insert into tb_chongzhi (cz_id, userbank_id, cz_money, 
      cz_state)
    values (#{czId,jdbcType=INTEGER}, #{userbankId,jdbcType=INTEGER}, #{czMoney,jdbcType=DECIMAL}, 
      #{czState,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.pojo.ChongZhi">
    insert into tb_chongzhi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="czId != null">
        cz_id,
      </if>
      <if test="userbankId != null">
        userbank_id,
      </if>
      <if test="czMoney != null">
        cz_money,
      </if>
      <if test="czState != null">
        cz_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="czId != null">
        #{czId,jdbcType=INTEGER},
      </if>
      <if test="userbankId != null">
        #{userbankId,jdbcType=INTEGER},
      </if>
      <if test="czMoney != null">
        #{czMoney,jdbcType=DECIMAL},
      </if>
      <if test="czState != null">
        #{czState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.pojo.ChongZhi">
    update tb_chongzhi
    <set>
      <if test="userbankId != null">
        userbank_id = #{userbankId,jdbcType=INTEGER},
      </if>
      <if test="czMoney != null">
        cz_money = #{czMoney,jdbcType=DECIMAL},
      </if>
      <if test="czState != null">
        cz_state = #{czState,jdbcType=INTEGER},
      </if>
    </set>
    where cz_id = #{czId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.pojo.ChongZhi">
    update tb_chongzhi
    set userbank_id = #{userbankId,jdbcType=INTEGER},
      cz_money = #{czMoney,jdbcType=DECIMAL},
      cz_state = #{czState,jdbcType=INTEGER}
    where cz_id = #{czId,jdbcType=INTEGER}
  </update>
</mapper>