<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.dao.TiXianMapper">
  <resultMap id="BaseResultMap" type="com.zking.pojo.TiXian">
    <id column="tx_id" jdbcType="INTEGER" property="txId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="tx_money" jdbcType="DECIMAL" property="txMoney" />
    <result column="userbank_id" jdbcType="INTEGER" property="userbankId" />
    <result column="tx_date" jdbcType="DATE" property="txDate" />
    <result column="tx_state" jdbcType="INTEGER" property="txState" />
  </resultMap>
  <sql id="Base_Column_List">
    tx_id, user_id, tx_money, userbank_id, tx_date, tx_state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_tixian
    where tx_id = #{txId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_tixian
    where tx_id = #{txId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.pojo.TiXian">
    insert into tb_tixian (tx_id, user_id, tx_money, 
      userbank_id, tx_date, tx_state
      )
    values (#{txId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{txMoney,jdbcType=DECIMAL}, 
      #{userbankId,jdbcType=INTEGER}, #{txDate,jdbcType=DATE}, #{txState,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zking.pojo.TiXian">
    insert into tb_tixian
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="txId != null">
        tx_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="txMoney != null">
        tx_money,
      </if>
      <if test="userbankId != null">
        userbank_id,
      </if>
      <if test="txDate != null">
        tx_date,
      </if>
      <if test="txState != null">
        tx_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="txId != null">
        #{txId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="txMoney != null">
        #{txMoney,jdbcType=DECIMAL},
      </if>
      <if test="userbankId != null">
        #{userbankId,jdbcType=INTEGER},
      </if>
      <if test="txDate != null">
        #{txDate,jdbcType=DATE},
      </if>
      <if test="txState != null">
        #{txState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.pojo.TiXian">
    update tb_tixian
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="txMoney != null">
        tx_money = #{txMoney,jdbcType=DECIMAL},
      </if>
      <if test="userbankId != null">
        userbank_id = #{userbankId,jdbcType=INTEGER},
      </if>
      <if test="txDate != null">
        tx_date = #{txDate,jdbcType=DATE},
      </if>
      <if test="txState != null">
        tx_state = #{txState,jdbcType=INTEGER},
      </if>
    </set>
    where tx_id = #{txId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.pojo.TiXian">
    update tb_tixian
    set user_id = #{userId,jdbcType=INTEGER},
      tx_money = #{txMoney,jdbcType=DECIMAL},
      userbank_id = #{userbankId,jdbcType=INTEGER},
      tx_date = #{txDate,jdbcType=DATE},
      tx_state = #{txState,jdbcType=INTEGER}
    where tx_id = #{txId,jdbcType=INTEGER}
  </update>

  <!-- 查询所有提现 -->
  <select id="getUserTiXianMoneyAll" parameterType="java.lang.String" resultType="java.util.HashMap">
    SELECT ubm.userMessage_name userMessageName,ubm.userMessage_truename userMessageTruename,tx.tx_money txMoney,tx.tx_date txDate,tx.tx_state txState,tx.tx_id txId,ub.userbank_card userbankCard,ub.userbank_name userbankName FROM tb_usermessage ubm,tb_tixian tx,tb_userbank ub WHERE ubm.user_id=tx.user_id AND tx.userbank_id=ub.userbank_id
  </select>



</mapper>