<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.dao.UserBorrowMoneyMapper">
  <resultMap id="BaseResultMap" type="com.zking.pojo.UserBorrowMoney">
    <id column="borrowMoney_id" jdbcType="VARCHAR" property="borrowmoneyId" />
    <result column="borrowMoney_synopsis" jdbcType="VARCHAR" property="borrowmoneySynopsis" />
    <result column="borrowMoney_borrowMoney" jdbcType="DECIMAL" property="borrowmoneyBorrowmoney" />
    <result column="borrowMoney_borrowDate" jdbcType="INTEGER" property="borrowmoneyBorrowdate" />
    <result column="borrowMoney_interestRate" jdbcType="VARCHAR" property="borrowmoneyInterestrate" />
    <result column="borrowMoney_use" jdbcType="VARCHAR" property="borrowmoneyUse" />
    <result column="borrowMoney_source" jdbcType="VARCHAR" property="borrowmoneySource" />
    <result column="borrowMoney_way" jdbcType="VARCHAR" property="borrowmoneyWay" />
    <result column="borrowMoney_risk" jdbcType="VARCHAR" property="borrowmoneyRisk" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="borrowMoney_interest" jdbcType="DECIMAL" property="borrowmoneyInterest" />
    <result column="borrowMoney_raiseDate" jdbcType="DATE" property="borrowmoneyRaisedate" />
    <result column="borrowMoney_orderDate" jdbcType="DATE" property="borrowmoneyOrderdate" />
    <result column="borrowMoney_state" jdbcType="INTEGER" property="borrowmoneyState" />
    <result column="borrowMoney_raiseMoney" jdbcType="DECIMAL" property="borrowmoneyRaisemoney" />
    <result column="borrowMoney_plan" jdbcType="VARCHAR" property="borrowmoneyPlan" />
    <result column="borrowMoney_money" jdbcType="DECIMAL" property="borrowmoneyMoney" />
  </resultMap>
  <sql id="Base_Column_List">
    borrowMoney_id, borrowMoney_synopsis, borrowMoney_borrowMoney, borrowMoney_borrowDate, 
    borrowMoney_interestRate, borrowMoney_use, borrowMoney_source, borrowMoney_way, borrowMoney_risk, 
    user_id, borrowMoney_interest, borrowMoney_raiseDate, borrowMoney_orderDate, borrowMoney_state, 
    borrowMoney_raiseMoney, borrowMoney_plan, borrowMoney_money
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_userborrowmoney
    where borrowMoney_id = #{borrowmoneyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_userborrowmoney
    where borrowMoney_id = #{borrowmoneyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zking.pojo.UserBorrowMoney">
    insert into tb_userborrowmoney (borrowMoney_id, borrowMoney_synopsis, 
      borrowMoney_borrowMoney, borrowMoney_borrowDate, 
      borrowMoney_interestRate, borrowMoney_use, 
      borrowMoney_source, borrowMoney_way, borrowMoney_risk, 
      user_id, borrowMoney_interest, borrowMoney_raiseDate, 
      borrowMoney_orderDate, borrowMoney_state, borrowMoney_raiseMoney, 
      borrowMoney_plan, borrowMoney_money)
    values (#{borrowmoneyId,jdbcType=VARCHAR}, #{borrowmoneySynopsis,jdbcType=VARCHAR}, 
      #{borrowmoneyBorrowmoney,jdbcType=DECIMAL}, #{borrowmoneyBorrowdate,jdbcType=INTEGER}, 
      #{borrowmoneyInterestrate,jdbcType=VARCHAR}, #{borrowmoneyUse,jdbcType=VARCHAR}, 
      #{borrowmoneySource,jdbcType=VARCHAR}, #{borrowmoneyWay,jdbcType=VARCHAR}, #{borrowmoneyRisk,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{borrowmoneyInterest,jdbcType=DECIMAL}, #{borrowmoneyRaisedate,jdbcType=DATE}, 
      #{borrowmoneyOrderdate,jdbcType=DATE}, #{borrowmoneyState,jdbcType=INTEGER}, #{borrowmoneyRaisemoney,jdbcType=DECIMAL}, 
      #{borrowmoneyPlan,jdbcType=VARCHAR}, #{borrowmoneyMoney,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.pojo.UserBorrowMoney">
    insert into tb_userborrowmoney
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="borrowmoneyId != null">
        borrowMoney_id,
      </if>
      <if test="borrowmoneySynopsis != null">
        borrowMoney_synopsis,
      </if>
      <if test="borrowmoneyBorrowmoney != null">
        borrowMoney_borrowMoney,
      </if>
      <if test="borrowmoneyBorrowdate != null">
        borrowMoney_borrowDate,
      </if>
      <if test="borrowmoneyInterestrate != null">
        borrowMoney_interestRate,
      </if>
      <if test="borrowmoneyUse != null">
        borrowMoney_use,
      </if>
      <if test="borrowmoneySource != null">
        borrowMoney_source,
      </if>
      <if test="borrowmoneyWay != null">
        borrowMoney_way,
      </if>
      <if test="borrowmoneyRisk != null">
        borrowMoney_risk,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="borrowmoneyInterest != null">
        borrowMoney_interest,
      </if>
      <if test="borrowmoneyRaisedate != null">
        borrowMoney_raiseDate,
      </if>
      <if test="borrowmoneyOrderdate != null">
        borrowMoney_orderDate,
      </if>
      <if test="borrowmoneyState != null">
        borrowMoney_state,
      </if>
      <if test="borrowmoneyRaisemoney != null">
        borrowMoney_raiseMoney,
      </if>
      <if test="borrowmoneyPlan != null">
        borrowMoney_plan,
      </if>
      <if test="borrowmoneyMoney != null">
        borrowMoney_money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="borrowmoneyId != null">
        #{borrowmoneyId,jdbcType=VARCHAR},
      </if>
      <if test="borrowmoneySynopsis != null">
        #{borrowmoneySynopsis,jdbcType=VARCHAR},
      </if>
      <if test="borrowmoneyBorrowmoney != null">
        #{borrowmoneyBorrowmoney,jdbcType=DECIMAL},
      </if>
      <if test="borrowmoneyBorrowdate != null">
        #{borrowmoneyBorrowdate,jdbcType=INTEGER},
      </if>
      <if test="borrowmoneyInterestrate != null">
        #{borrowmoneyInterestrate,jdbcType=VARCHAR},
      </if>
      <if test="borrowmoneyUse != null">
        #{borrowmoneyUse,jdbcType=VARCHAR},
      </if>
      <if test="borrowmoneySource != null">
        #{borrowmoneySource,jdbcType=VARCHAR},
      </if>
      <if test="borrowmoneyWay != null">
        #{borrowmoneyWay,jdbcType=VARCHAR},
      </if>
      <if test="borrowmoneyRisk != null">
        #{borrowmoneyRisk,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="borrowmoneyInterest != null">
        #{borrowmoneyInterest,jdbcType=DECIMAL},
      </if>
      <if test="borrowmoneyRaisedate != null">
        #{borrowmoneyRaisedate,jdbcType=DATE},
      </if>
      <if test="borrowmoneyOrderdate != null">
        #{borrowmoneyOrderdate,jdbcType=DATE},
      </if>
      <if test="borrowmoneyState != null">
        #{borrowmoneyState,jdbcType=INTEGER},
      </if>
      <if test="borrowmoneyRaisemoney != null">
        #{borrowmoneyRaisemoney,jdbcType=DECIMAL},
      </if>
      <if test="borrowmoneyPlan != null">
        #{borrowmoneyPlan,jdbcType=VARCHAR},
      </if>
      <if test="borrowmoneyMoney != null">
        #{borrowmoneyMoney,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.pojo.UserBorrowMoney">
    update tb_userborrowmoney
    <set>
      <if test="borrowmoneySynopsis != null">
        borrowMoney_synopsis = #{borrowmoneySynopsis,jdbcType=VARCHAR},
      </if>
      <if test="borrowmoneyBorrowmoney != null">
        borrowMoney_borrowMoney = #{borrowmoneyBorrowmoney,jdbcType=DECIMAL},
      </if>
      <if test="borrowmoneyBorrowdate != null">
        borrowMoney_borrowDate = #{borrowmoneyBorrowdate,jdbcType=INTEGER},
      </if>
      <if test="borrowmoneyInterestrate != null">
        borrowMoney_interestRate = #{borrowmoneyInterestrate,jdbcType=VARCHAR},
      </if>
      <if test="borrowmoneyUse != null">
        borrowMoney_use = #{borrowmoneyUse,jdbcType=VARCHAR},
      </if>
      <if test="borrowmoneySource != null">
        borrowMoney_source = #{borrowmoneySource,jdbcType=VARCHAR},
      </if>
      <if test="borrowmoneyWay != null">
        borrowMoney_way = #{borrowmoneyWay,jdbcType=VARCHAR},
      </if>
      <if test="borrowmoneyRisk != null">
        borrowMoney_risk = #{borrowmoneyRisk,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="borrowmoneyInterest != null">
        borrowMoney_interest = #{borrowmoneyInterest,jdbcType=DECIMAL},
      </if>
      <if test="borrowmoneyRaisedate != null">
        borrowMoney_raiseDate = #{borrowmoneyRaisedate,jdbcType=DATE},
      </if>
      <if test="borrowmoneyOrderdate != null">
        borrowMoney_orderDate = #{borrowmoneyOrderdate,jdbcType=DATE},
      </if>
      <if test="borrowmoneyState != null">
        borrowMoney_state = #{borrowmoneyState,jdbcType=INTEGER},
      </if>
      <if test="borrowmoneyRaisemoney != null">
        borrowMoney_raiseMoney = #{borrowmoneyRaisemoney,jdbcType=DECIMAL},
      </if>
      <if test="borrowmoneyPlan != null">
        borrowMoney_plan = #{borrowmoneyPlan,jdbcType=VARCHAR},
      </if>
      <if test="borrowmoneyMoney != null">
        borrowMoney_money = #{borrowmoneyMoney,jdbcType=DECIMAL},
      </if>
    </set>
    where borrowMoney_id = #{borrowmoneyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.pojo.UserBorrowMoney">
    update tb_userborrowmoney
    set borrowMoney_synopsis = #{borrowmoneySynopsis,jdbcType=VARCHAR},
      borrowMoney_borrowMoney = #{borrowmoneyBorrowmoney,jdbcType=DECIMAL},
      borrowMoney_borrowDate = #{borrowmoneyBorrowdate,jdbcType=INTEGER},
      borrowMoney_interestRate = #{borrowmoneyInterestrate,jdbcType=VARCHAR},
      borrowMoney_use = #{borrowmoneyUse,jdbcType=VARCHAR},
      borrowMoney_source = #{borrowmoneySource,jdbcType=VARCHAR},
      borrowMoney_way = #{borrowmoneyWay,jdbcType=VARCHAR},
      borrowMoney_risk = #{borrowmoneyRisk,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      borrowMoney_interest = #{borrowmoneyInterest,jdbcType=DECIMAL},
      borrowMoney_raiseDate = #{borrowmoneyRaisedate,jdbcType=DATE},
      borrowMoney_orderDate = #{borrowmoneyOrderdate,jdbcType=DATE},
      borrowMoney_state = #{borrowmoneyState,jdbcType=INTEGER},
      borrowMoney_raiseMoney = #{borrowmoneyRaisemoney,jdbcType=DECIMAL},
      borrowMoney_plan = #{borrowmoneyPlan,jdbcType=VARCHAR},
      borrowMoney_money = #{borrowmoneyMoney,jdbcType=DECIMAL}
    where borrowMoney_id = #{borrowmoneyId,jdbcType=VARCHAR}
  </update>
</mapper>