<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.dao.UserDealMapper">
  <resultMap id="BaseResultMap" type="com.zking.pojo.UserDeal">
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="deal_earnings" jdbcType="DECIMAL" property="dealEarnings" />
    <result column="deal_investMoney" jdbcType="DECIMAL" property="dealInvestmoney" />
    <result column="deal_liabilities" jdbcType="DECIMAL" property="dealLiabilities" />
  </resultMap>
  <insert id="insert" parameterType="com.zking.pojo.UserDeal">
    insert into tb_userdeal (user_id, deal_earnings, deal_investMoney, 
      deal_liabilities)
    values (#{userId,jdbcType=INTEGER}, #{dealEarnings,jdbcType=DECIMAL}, #{dealInvestmoney,jdbcType=DECIMAL}, 
      #{dealLiabilities,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.pojo.UserDeal">
    insert into tb_userdeal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="dealEarnings != null">
        deal_earnings,
      </if>
      <if test="dealInvestmoney != null">
        deal_investMoney,
      </if>
      <if test="dealLiabilities != null">
        deal_liabilities,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="dealEarnings != null">
        #{dealEarnings,jdbcType=DECIMAL},
      </if>
      <if test="dealInvestmoney != null">
        #{dealInvestmoney,jdbcType=DECIMAL},
      </if>
      <if test="dealLiabilities != null">
        #{dealLiabilities,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>