<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.dao.UserLiabilitiesMapper">
  <resultMap id="BaseResultMap" type="com.zking.pojo.UserLiabilities">
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="liabilities_money" jdbcType="DECIMAL" property="liabilitiesMoney" />
    <result column="liabilities_principal" jdbcType="DECIMAL" property="liabilitiesPrincipal" />
    <result column="liabilities_interest" jdbcType="DECIMAL" property="liabilitiesInterest" />
    <result column="liabilities_moneyMod" jdbcType="DECIMAL" property="liabilitiesMoneymod" />
    <result column="liabilities_principalMod" jdbcType="DECIMAL" property="liabilitiesPrincipalmod" />
    <result column="liabilities_interestMod" jdbcType="DECIMAL" property="liabilitiesInterestmod" />
  </resultMap>
  <insert id="insert" parameterType="com.zking.pojo.UserLiabilities">
    insert into tb_userliabilities (user_id, liabilities_money, liabilities_principal, 
      liabilities_interest, liabilities_moneyMod, 
      liabilities_principalMod, liabilities_interestMod
      )
    values (#{userId,jdbcType=INTEGER}, #{liabilitiesMoney,jdbcType=DECIMAL}, #{liabilitiesPrincipal,jdbcType=DECIMAL}, 
      #{liabilitiesInterest,jdbcType=DECIMAL}, #{liabilitiesMoneymod,jdbcType=DECIMAL}, 
      #{liabilitiesPrincipalmod,jdbcType=DECIMAL}, #{liabilitiesInterestmod,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zking.pojo.UserLiabilities">
    insert into tb_userliabilities
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="liabilitiesMoney != null">
        liabilities_money,
      </if>
      <if test="liabilitiesPrincipal != null">
        liabilities_principal,
      </if>
      <if test="liabilitiesInterest != null">
        liabilities_interest,
      </if>
      <if test="liabilitiesMoneymod != null">
        liabilities_moneyMod,
      </if>
      <if test="liabilitiesPrincipalmod != null">
        liabilities_principalMod,
      </if>
      <if test="liabilitiesInterestmod != null">
        liabilities_interestMod,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="liabilitiesMoney != null">
        #{liabilitiesMoney,jdbcType=DECIMAL},
      </if>
      <if test="liabilitiesPrincipal != null">
        #{liabilitiesPrincipal,jdbcType=DECIMAL},
      </if>
      <if test="liabilitiesInterest != null">
        #{liabilitiesInterest,jdbcType=DECIMAL},
      </if>
      <if test="liabilitiesMoneymod != null">
        #{liabilitiesMoneymod,jdbcType=DECIMAL},
      </if>
      <if test="liabilitiesPrincipalmod != null">
        #{liabilitiesPrincipalmod,jdbcType=DECIMAL},
      </if>
      <if test="liabilitiesInterestmod != null">
        #{liabilitiesInterestmod,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>