<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.dao.UserInvestMapper">
  <resultMap id="BaseResultMap" type="com.zking.pojo.UserInvest">
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="invest_money" jdbcType="DECIMAL" property="investMoney" />
    <result column="invest_principal" jdbcType="DECIMAL" property="investPrincipal" />
    <result column="invest_interest" jdbcType="DECIMAL" property="investInterest" />
    <result column="invest_moneyMod" jdbcType="DECIMAL" property="investMoneymod" />
    <result column="invest_principalMod" jdbcType="DECIMAL" property="investPrincipalmod" />
    <result column="invest_interestMod" jdbcType="DECIMAL" property="investInterestmod" />
  </resultMap>
  <insert id="insert" parameterType="com.zking.pojo.UserInvest">
    insert into tb_userinvest (user_id, invest_money, invest_principal, 
      invest_interest, invest_moneyMod, invest_principalMod, 
      invest_interestMod)
    values (#{userId,jdbcType=INTEGER}, #{investMoney,jdbcType=DECIMAL}, #{investPrincipal,jdbcType=DECIMAL}, 
      #{investInterest,jdbcType=DECIMAL}, #{investMoneymod,jdbcType=DECIMAL}, #{investPrincipalmod,jdbcType=DECIMAL}, 
      #{investInterestmod,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.pojo.UserInvest">
    insert into tb_userinvest
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="investMoney != null">
        invest_money,
      </if>
      <if test="investPrincipal != null">
        invest_principal,
      </if>
      <if test="investInterest != null">
        invest_interest,
      </if>
      <if test="investMoneymod != null">
        invest_moneyMod,
      </if>
      <if test="investPrincipalmod != null">
        invest_principalMod,
      </if>
      <if test="investInterestmod != null">
        invest_interestMod,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="investMoney != null">
        #{investMoney,jdbcType=DECIMAL},
      </if>
      <if test="investPrincipal != null">
        #{investPrincipal,jdbcType=DECIMAL},
      </if>
      <if test="investInterest != null">
        #{investInterest,jdbcType=DECIMAL},
      </if>
      <if test="investMoneymod != null">
        #{investMoneymod,jdbcType=DECIMAL},
      </if>
      <if test="investPrincipalmod != null">
        #{investPrincipalmod,jdbcType=DECIMAL},
      </if>
      <if test="investInterestmod != null">
        #{investInterestmod,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>